/* Palette


#1a191a nearly black
#413d3f very dark gray
#949db8 medium gray
#c3c8d7 light gray
#e0e3eb lighter gray
#f0f1f5 nearly white
#8a474b red
#826b5d brown


Color picker tool
https://www.w3schools.com/colors/colors_picker.asp

Hexadecimal table for opacity
https://davidwalsh.name/hex-opacity

*/

/* GLOBAL STYLES
--------------------------------------*/

/*
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --very-light-gray: #e0e3eb;
  --btn-padding: 15px;
}

body {
  min-height: 100vh;
  background: #e0e3eb;
  margin: 0;
  font-family: "OpenSans", "sans-serif";
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-family: "Norwester", "sans-serif";
  font-size: 4rem;
  line-height: 0.8;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 651px) {
  h1 {
    line-height: 1;
    font-size: 3rem;
  }

  h2 {
    font-size: 1rem;
  }
}

h2 {
  font-family: "CooperHewitt", "sans-serif";
  font-size: 2rem;
  padding-top: 0;
}

h3 {
  font-family: "CooperHewitt", "sans-serif";
  font-size: 1.75rem;
}

footer a {
  color: #c7cdd0;
}

.btn {
  background: #8a474b;
  color: #f0f1f5;
  text-decoration: none;
  text-align: center;
  padding: var(--btn-padding);
  border-radius: 4px;
  font-size: 1.3rem;
  line-height: 2rem;
  transition-duration: 250ms;
  transition-property: background, color;
  cursor: pointer;
}
.btn:hover {
  background: #f0f1f5;
  color: #8a474b;
}

.content-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 1000px;
  width: 100%;
}

@media screen and (max-width: 651px) {
  .content-wrapper {
    padding: 5px 30px;
  }
}

/* nav bar */
.nav-container {
  display: flex;
  background-color: #e0e3eb;
  justify-content: space-between;
  padding: 0rem 2rem;
}
.nav-container h3 {
  margin: 1rem 0;
  padding: 0.2rem 0 0 0;
  font-family: "Norwester", "sans-serif";
  letter-spacing: 0.1rem;
}
.nav-container h3 a {
  text-decoration: none;
  color: #1a191a;
}
.nav-bar {
  display: flex;
  padding: 0;
}
.nav-bar ul {
  display: flex;
  list-style: none; /* Removes the default bullet points */
  padding-left: 0; /* Removes default padding */
  margin: 0;
}
.nav-bar ul li {
  font-family: "OpenSans", "sans-serif";
  font-size: 1.3rem;
  transition-duration: 250ms;
  transition-property: background, color;
}
.nav-bar ul li:hover {
  background: #8a474b;
}
.nav-bar ul li a {
  /* By making the link a block item and
    putting the padding here, I make the whole
    box a clickable link, not just the text. */
  display: block;
  padding: 1rem;
  color: #413d3f;
  text-decoration: none;
}
.nav-bar ul li:hover a {
  color: #f0f1f5;
}

/* fonts */
@font-face {
  font-family: "Norwester";
  src: url(../fonts/norwester/norwester.otf) format("opentype");
}

@font-face {
  font-family: "CooperHewitt";
  src: url(../fonts/cooperhewitt/CooperHewitt-Book.otf) format("opentype");
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/open-sans-fontfacekit/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff)
    format("woff");
}

/* HOME
--------------------------------------*/

.home {
  background: url(../images/pexels-eddson-lens-covered2.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.home main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20rem;
  /* min-height: 100vh; */
}

/* TODO: Decide between clamp and specified container size*/
/* .hero-container {
  padding-top: clamp(10rem, 25vw, 20rem);
} */

.hero-container {
  margin: 15rem auto 0 auto;
  /* height: 20rem; */
  height: clamp(10rem, 25vh, 20rem);
  /* height: 2000px; */
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO: clamp hero text size*/
.hero-text {
  font-family: "Norwester", "sans-serif";
  font-size: clamp(3rem, 10vw, 5rem);
  text-align: center;
  /* line-height: 1.05; */
  display: block;
  width: 100%;
  padding: 0;
}

.subtitle-text {
  
}

/* Use an outer container to position the about section */
.about-outer-container {
  max-width: 1000px;
  /* padding-bottom: clamp(10rem, 20vw, 25rem); */
  display: flex;
  flex-direction: column;
}

/* The about section is a (column) flexbox
containing two items */
.about-inner-container {
  background-color: #d1d4e0e6;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.about-inner-container p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 0;
  padding-top: 0;
}

.fade-in {
  opacity: 1 !important;
}

.home-content-row1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.home-content-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.scroller-container {
  display: flex;
  /* flex-flow: row wrap; */
  background-color: gray;
  width: 100%;
  overflow: hidden;
  height: 250px;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0); /* Start position */
  }
  to {
    transform: translateX(-50%); /* End position (half the content width) */
  }
}

.scroller-row {
  animation: infinite-scroll 10s linear infinite;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
}

.scroller-row > * {
  background-color: green;
  /* max-width: 200px; */
  flex: 1 0 auto;
}

.home-activity {
  font-size: 5rem;
  color:#c7cdd0;
  text-align: center;
}

.scroller-container:hover .scroller-row {
  animation-play-state: paused;
}

/* PROJECTS
--------------------------------------*/

/* .projects header::before {
    background: url(../images/pexels-eddson-lens.jpg);
    background-position: 50% 10%;
    background-size: cover;
    content: "";
    height: 375px;
    display: block;
}

@media screen and (max-width: 651px) {
    .projects header::before {
        height: 200px;
    }
} */


.projects .project-button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: space-between;
}

.projects .content-wrapper {
  margin-top: 1rem;
}

.projects .content-wrapper h1 {
  border-bottom: 0.1rem solid #9c9699;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-block: 1rem;
  padding: 5rem 30px 3rem 30px;
  max-width: 1000px;
}

.display-area {
  display: grid;
  /* Create one grid cell that holds all the project cards.
  Only the active card is shown; the rest are invisible.
  This is crucial for stacking items on the z-axis
  while also keeping them in the document flow, 
  ensuring they take up space. All children--the project showcases
  and the starter screen--need to go in one cell.*/
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.project-showcase {
  /* Direct all cards to the first grid cell. If we didn't do this, 
  new rows would be automatically added. */
  grid-area: 1 / 1;
  opacity: 0;
  pointer-events: none; /* Prevents clicking hidden buttons */
  transition: opacity 0.3s ease; /* Smooth fade effect! */
  z-index: 0;

  display: grid;
  grid-template-columns: 1fr 300px;
  align-items: center;
  border: 0.5rem double #413d3f;
  background-color: #f0f1f5;
  min-height: 600px;
}

/* Target the showcase when it has the active class */
.project-showcase.active {
  opacity: 1;
  pointer-events: auto; /* Re-enable clicking */
  z-index: 1;
}
.project-showcase h3 {
  margin-top: 0;
}

.project-showcase p a {
  color: #8a474b;
}

.project-showcase img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
}

.starter-screen {
  grid-area: 1 / 1; /* Sit in the first cell */
  z-index: 0; /* Sit at the bottom */
  border: 0.5rem double #413d3f;
  background-color: #f0f1f5;
  text-align: center;
  line-height: 550px;
  /* TODO: replace this line-height with something more responsive */
}

.janelia-image{
  border: 1px solid #1a191a
}


.project-description {
  /* border: 0.5rem double #413d3f;
  background-color: #f0f1f5; */
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-description h3 {
  text-align: center;
}

.project-description .btn {
  align-self: center;
}

.project-description blockquote {
  margin-top: 0;
}

/* Target a paragraph that is followed by a blockquote */
.project-description p:has(+ blockquote) {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .project-showcase {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 1350px) {
  .projects .content-wrapper {
  max-width: 75vw;
}
}

@media screen and (max-width: 1049px) {
  .projects .content-wrapper {
  max-width: 85vw;
}
  .project-showcase img {
    max-width: 70%;
}
}

/* RESUME
--------------------------------------*/
.header-img {
  background: url(../images/pexels-eddson-lens-covered.jpg);
  height: 375px;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* TODO: ^Make height smaller on smaller screens */

.resume .content-wrapper {
  margin-bottom: 0;
}

.resume header .content-wrapper {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 20px;
}

.resume-download-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.resume header .content-wrapper h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}


.resume-section {
  margin-bottom: 50px;
}

.resume-section h2 {
  padding-bottom: 0.5rem;
  border-bottom: 2px dashed #1c2426;
}


@media screen and (max-width: 1400px) {
  .download-link {
    position: absolute;
  }
}

/* Work Experience
--------------------------------------*/
.work-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-block: 1rem;
}

.work-item {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 20px;
}

@media screen and (max-width: 670px) {
  .work-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.work-item h3 {
  margin: 0;
}

.work-item ul {
  margin-top: 0;
}

/* Education
--------------------------------------*/
.education-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 0.5rem;
}

/* .education-item {
    line-height: 0.5;
} */
.education-item h3 {
  margin: 0;
  padding: 0;
}

.education-item p {
  margin-top: 0.5rem;
}

/* FOOTER
--------------------------------------*/
footer {
  background: #1c2426;
  color: #c7cdd0;
  width: 100vw;
  height: 60px;
}

@media screen and (min-width: 651px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}

@media screen and (max-width: 650px) {
  footer {
    text-align: center;
    padding: 10px;
  }
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline-block;
  margin-left: 10px;
}

.socials img {
  width: 32px;
}

.socials img:hover {
  opacity: 0.5;
}
